<p>Hi {{ username }},</p>
<p>{% if is_new %}A new {{ type }} has been created on the {{ website_name }} website.{% else %}A {{ type }} has been updated on the {{ website_name }} website.{% endif %}</p>
<p><a href="{{ url }}">{{ title }}</a></p>
<p>To change your notification preferences <a href="{{ preferences_url }}">click here</a>.</p>